* {
    box-sizing: border-box;
}

/*@media screen and (min-width: 500px)
{*/
    .fixed {
        top: 0;
        z-index: 100;
        position: fixed;
        width: 100%;
    }
/*}*/

body {
    margin: 0;
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Header and Title - Mobile */

.header {
    background-color: cadetblue;
    color: white;
    padding: 15px;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

h1.title {
    padding-left: 15px;
    font-size: 150%;
}

/* Header and Title - Mobile */

/* Header and Title - Desktop */

@media screen and (min-width: 500px)
{
    .header {
        background-color: cadetblue;
        color: white;
        padding: 15px;
        overflow: hidden;
        padding: 0;
        width: 100%;
    }

    h1.title {
        padding-left: 15px;
        font-size: 200%;
    }
}

/* Header and Title - Desktop */

/* Nav Bar - Mobile */

#menu {
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: teal;
}

li a {
    float: left;
    display: block;
    color: white;
    text-align: left;
    padding: 10px 16px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 80%;
}

li a:hover {
    background-color: darkcyan;
}

/* Nav Bar - Mobile */

/* Nav Bar - Desktop */

@media screen and (min-width: 500px)
{

    #menu {
        width: 100%;
        height: 100%;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: teal;
    }

    li a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 10px 16px;
        text-decoration: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 100%;
    }

    li.right a {
        float: right;
    }

    li a:hover {
        background-color: darkcyan;
    }
}

main {
    overflow: hidden;
}

.fixed + main {
    padding-top: 10px;
}
/* Nav Bar - Desktop */

/* Body */

body {
    background-color: #f3f3f3f1;
}

main {
    background-color: #e2e2e2f3;
    margin-top: 10px;
}

h2.article {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

p.intro {
    font-size: 1.4em;
    text-align: center;
    padding: 0px;
}

p.text {
    text-align: justify;
    font-size: 1.25em;
    margin: 1.5em;
}

/* IMAGE SECTION */

p.block {
    display: inline-block;
    margin: 0px;
}

p.namehead {
    font-size: 1.5em;
    margin: 0px;
}

img {
    width: 45%;
    height: 45%;
    max-width: 160px;
    max-height: 160px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    padding-right: 20px;
}