

.headings {
    width: 100em;
    height: 1.70rem;
    background: cyan;
    text-align: center;
    color: white;
    font-size: 1.65rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}